<!doctype html>
<html lang="en">
    <head>
        <title>Final Project</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h2>Collection Cleared</h2>
        <br>
        <a href="/">Return Home</a>
    </body>
</html>

