<!doctype html>
<html lang="en">
    <head>
        <title>Final Project</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <h1>Check Saved Dog Facts!</h1>
        To add a dog to the saved list, click here: <a href="/addDog">Add a Breed</a><br>
	    To look at saved dog list, click here: <a href="/list">Look at List</a><br>
        To clear out the saved list, click here: <a href="/clear">Clear the List</a><br>
    </body>
</html>